body {
    font-family: monospace;
    font-size: 16px;
}

.logLine {
    background-color: rgb(233, 233, 233);
    margin: 2px;
    padding: 0.2em;
    font-family: monospace;
    border-radius: 2px;
    border: 1px solid rgb(189, 189, 189);
    position: relative;
    cursor: pointer;
}

.time {
    margin-right: 0.2em;
    padding: 0.1em;
}
.time::before {
    content: '[';
}
.time::after {
    content: ']';
}

.message {
    font-weight: bold;
    display: inline;
    padding: 0.1em;
}

.thread::before {
    content: 'thread: ';
}

.stackTrace {
    display: block;
    overflow-x: scroll;
    white-space: nowrap;
}

.stackTrace li {
    list-style-type: none;
}

.warn {
    background-color: rgb(202, 202, 0);
}

.error {
    background-color: rgb(245, 79, 79);
}

.section {
    background-color: lightskyblue;
}

.moreInfo {
    display: none
}

.extended .moreInfo {
    display: initial;
}

#topNav {
    /* position: fixed; */
    top: 0px;
    left: 0px;
    width: 100%;
    background-color: rgb(255, 255, 255);
    border-bottom: 2px solid black;
    z-index: 1000;
}

.tagButton, .button {
    display: inline-block;
    padding: 0.1em 0.5em 0.1em 0.5em;
    border-radius: 1em;
    background-color: rgb(128, 132, 134);
    cursor: pointer;
    margin: 0.5em;
    user-select: none;
}

.active {
    background-color: rgb(137, 223, 255);
}

.stackTrace.active {
    background-color: rgb(100, 228, 100);
}

.hidden {
    display: none;
}

.timer {
    background-color: rgb(129, 192, 110);
}

.assert {
    background-color: orange;
}

.tags {

}

.tags li {
    background-color: gray;
    list-style-type: none;
    display: inline-block;
    border-radius: 1em;
    padding: 0.2em;
}